body{
    background-color: #E6EFF6;
}
a{
    color: gray;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: white;
    display: block;
    background-color: #58A6D9;
    width: 45%;
    height: 35px;
    border-radius: 25px;
    line-height: 35px;
    text-align: center;
    margin-left: 33%;
}